version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: mysql_soundstream
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_DATABASE: soundstream_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    secrets:
      - mysql_root_password

volumes:
  db_data:

secrets:
  mysql_root_password:
    file: ./secrets/mysql_root_password.txt
